* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  padding-top: 90px;
}
.debug {
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.pt-100 {
  padding-top: 100px;
}

.pt-60{
  padding-top: 60px;
}

.link {
  background-color: #0061ff;
  color: white;
  padding: 10px 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: white;
}

header .row {
  justify-content: space-between;
  padding: 25px 20px;
}

header .row .col{
  align-items: center;
}

header .row .logo {
  width: 130px;
  flex-shrink: 0;
}

header .row li {
  padding: 10px 15px;
  color: black;
}

header .link a {
  color: white;
}

/* main */

/* jumbotron */

#jumbotron {
  background-color: #b4d0e7;
  height: 750px;
  width: 100%;
}

.container-big {
  max-width: 1200px;
  margin: 0 auto;
}

.container-big h1 {
  font-size: 4rem;
}

.container-big .box-text {
  width: 30%;
  position: relative;
  height: 400px;
}

.container-big .box-text p{
  margin-bottom: 40px;
}

.container-big .box-text div{
  margin-bottom: 40px ;
}

.container-big .box-text div.arrow{
  
}

.container-big .box-text div i{
  font-size: 3rem;
  position: absolute;
  bottom: 20px;
}

.container-big .box-image {
  width: 70%;
}

/* plans */

.container-small {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
}

.container-small h2 {
  font-size: 2rem;
}

.cards {
  justify-content: space-between;
}

.card {
  width: 300px;
  text-align: center;
  border: 1px solid #9b9b9b;
}

.card .top-card {
  border: 1px solid #9b9b9b;
}